 
body { 
            font-family: Arial,sans-serif; 
            background color:#f0f0f0; 
            margin:0; 
            padding:20px; 
            } 
 
            .container{ 
                display:flex; 
                flex-direction: row; 
                justify-content: center; 
                align-items: center; 
                flex-wrap: wrap; 
                gap: 20px; 
            } 
            .card{ 
                background-color:rgb(217, 235, 132); 
                width:200px; 
                padding: 20px; 
                text-align:center; 
                border-radius: 10px; 
                box-shadow: 0 0 10px rgba(0,0,0,0.2); 
            } 
            .card img{ 
                height: 80px; 
                width: 80px; 
                border-radius:50%; 
                margin-bottom: 10px; 
            } 
            .card h3{ 
                margin:10px 0 5px; 
                font-size: 18px; 
            } 
            .card p{ 
                margin:3px 0; 
                font-size: 14px; 
                color:rgb(230, 115, 115); 
            } 
            .avatar { 
                 height: 80px; 
                 width: 80px; 
                 background-color: #007bff; 
                 color: white; 
                 font-size: 24px; 
                 font-weight: bold; 
                 display: flex; 
                 justify-content: center; 
                 align-items: center; 
                 border-radius: 50%; 
                 margin: 0 auto 10px; 
            }