body { 
font-family: Arial, sans-serif; 
margin: 0; 
padding: 0; 
} 
h1 { 
text-align: center; 
color: #222; 
    margin: 30px 0; 
    font-size: 36px; 
    font-weight: 700; 
} 
 
.grid { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px; 
    padding: 20px 40px; 
} 
 
.card { 
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 18px; 
    box-shadow: 0px 4px 12px rgba(0,0,0,0.12); 
    border:#2e52b5; 
} 
 
.card img { 
    width: 100%; 
    height: 200px; 
    border-radius: 12px; 
    object-fit: cover; 
    margin-bottom: 15px; 
} 
 
.title { 
    text-align: center; 
    font-size: 40px; 
    font-weight: 900; 
    color:#222; 
    margin-bottom: 10px; 
} 
 
.description { 
    text-align: center; 
    font-size: 15px; 
    color: #555; 
    margin-bottom: 15px; 
} 
 
.price { 
    display: inline-block; 
    background: #2e52b5;   
    color: white; 
    padding: 6px 18px; 
    border-radius: 8px; 
    font-size: 15px; 
    font-weight: 600; 
    text-align: center; 
}